# Precompiled Headers
*.gch

# Compiled Object files
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.a

# Executables
*.exe

# Output and result files
*.out
*.dat
*.png

# Temporary evils
*.mps
*.lp

# MATLAB-related
*.mexa64
